Repository opencypher/cypher-for-apache-spark, pull requests merged in 2019-02, with the labels that each got.

#785 Some tweaks to license checking
  build.licenses.gradle
  build.publishing.gradle
  spark-cypher/build.gradle
Labels: Build

#798 Towards a more readable TOC
  documentation/asciidoc/architecture-and-usage.adoc
  documentation/asciidoc/backend-filesystem.adoc
  documentation/asciidoc/backend-in-memory.adoc
  documentation/asciidoc/backend-neo4j.adoc
  documentation/asciidoc/backend-sql.adoc
  documentation/asciidoc/caching-and-performance.adoc
  documentation/asciidoc/cypher-cypher9-features.adoc
  documentation/asciidoc/cypher-multiple-graphs.adoc
  documentation/asciidoc/cypher.adoc
  documentation/asciidoc/examples/caps/case-class.adoc
  documentation/asciidoc/examples/caps/census-sql-hive.adoc
  documentation/asciidoc/examples/caps/census-sql-jdbc.adoc
  documentation/asciidoc/examples/caps/custom-dataframe-input.adoc
  documentation/asciidoc/examples/caps/cypher-sql-roundtrip.adoc
  documentation/asciidoc/examples/caps/dataframe-input.adoc
  documentation/asciidoc/examples/caps/dataframe-output.adoc
  documentation/asciidoc/examples/caps/datasource.adoc
  documentation/asciidoc/examples/caps/details.adoc
  documentation/asciidoc/examples/caps/graph-views.adoc
  documentation/asciidoc/examples/caps/graphx-pagerank.adoc
  documentation/asciidoc/examples/caps/multiple-graphs.adoc
  documentation/asciidoc/examples/caps/neo4j-graph-merge.adoc
  documentation/asciidoc/examples/caps/neo4j-workflow.adoc
  documentation/asciidoc/examples/caps/northwind-sql-jdbc.adoc
  documentation/asciidoc/examples/caps/recommendation.adoc
  documentation/asciidoc/examples/caps/update.adoc
  documentation/asciidoc/introduction.adoc
Labels: Documentation

#801 Add abstracts and inline TOCs, and document Cypher9 coverage
  documentation/asciidoc/architecture-and-usage.adoc
  documentation/asciidoc/backend-filesystem.adoc
  documentation/asciidoc/backend-in-memory.adoc
  documentation/asciidoc/backend-neo4j-graph-merge.adoc
  documentation/asciidoc/backend-sql-graphddl.adoc
  documentation/asciidoc/backend-sql.adoc
  documentation/asciidoc/backends.adoc
  documentation/asciidoc/caching-and-performance.adoc
  documentation/asciidoc/cypher-cypher9-features.adoc
  documentation/asciidoc/cypher-graph-views.adoc
  documentation/asciidoc/cypher-multiple-graphs.adoc
  documentation/asciidoc/cypher.adoc
  documentation/asciidoc/index.adoc
  documentation/asciidoc/introduction.adoc
  documentation/asciidoc/overview.adoc
  documentation/asciidoc/resources.adoc
  documentation/asciidoc/session.adoc
Labels: Documentation

#817 Use specialized types for CypherRecords and CypherResult
  okapi-api/src/main/scala/org/opencypher/okapi/api/graph/CypherResult.scala
  okapi-relational/src/main/scala/org/opencypher/okapi/relational/api/graph/RelationalCypherGraph.scala
  okapi-relational/src/main/scala/org/opencypher/okapi/relational/api/planning/RelationalCypherResult.scala
  spark-cypher-testing/build.gradle
Labels: SPIP

#820 Implement canonical physical record representation for Cypher results
  dev-support/caps-style.xml
  okapi-api/src/main/scala/org/opencypher/okapi/api/table/CypherTable.scala
  okapi-ir/src/main/scala/org/opencypher/okapi/ir/api/expr/Expr.scala
  okapi-relational/src/main/scala/org/opencypher/okapi/relational/api/planning/RelationalCypherResult.scala
  okapi-relational/src/main/scala/org/opencypher/okapi/relational/api/table/RelationalCypherRecords.scala
  okapi-relational/src/main/scala/org/opencypher/okapi/relational/api/table/Table.scala
  okapi-relational/src/main/scala/org/opencypher/okapi/relational/impl/operators/RelationalOperator.scala
  spark-cypher-examples/src/main/scala/org/opencypher/spark/examples/DataFrameOutputExample.scala
  spark-cypher-examples/src/test/resources/example_outputs/DataFrameOutputExample.out
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/CAPSRecordsTest.scala
  spark-cypher/src/main/scala/org/opencypher/spark/impl/CAPSRecords.scala
  spark-cypher/src/main/scala/org/opencypher/spark/impl/table/SparkTable.scala
Labels: SPIP

#839 Disable flaky test
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/FunctionTests.scala
Labels: Bug
