Repository opencypher/cypher-for-apache-spark, pull requests merged in 2019-01, with the labels that each got.

#746 Inline graph and element types in example Graph DDLs
  spark-cypher-examples/src/main/resources/census/ddl/census.ddl
  spark-cypher-examples/src/main/resources/northwind/ddl/northwind.ddl
  spark-cypher-examples/src/test/resources/example_outputs/CaseClassExample.out
  spark-cypher-examples/src/test/resources/example_outputs/CensusHiveExample.out
  spark-cypher-examples/src/test/resources/example_outputs/CensusJdbcExample.out
  spark-cypher-examples/src/test/resources/example_outputs/CustomDataFrameInputExample.out
  spark-cypher-examples/src/test/resources/example_outputs/CypherSQLRoundtripExample.out
  spark-cypher-examples/src/test/resources/example_outputs/DataFrameInputExample.out
  spark-cypher-examples/src/test/resources/example_outputs/DataFrameOutputExample.out
  spark-cypher-examples/src/test/resources/example_outputs/DataSourceExample.out
  spark-cypher-examples/src/test/resources/example_outputs/GraphXPageRankExample.out
  spark-cypher-examples/src/test/resources/example_outputs/HiveSupportExample.out
  spark-cypher-examples/src/test/resources/example_outputs/LdbcHiveExample.out
  spark-cypher-examples/src/test/resources/example_outputs/MultipleGraphExample.out
  spark-cypher-examples/src/test/resources/example_outputs/Neo4jCustomSchemaExample.out
  spark-cypher-examples/src/test/resources/example_outputs/Neo4jMergeExample.out
  spark-cypher-examples/src/test/resources/example_outputs/Neo4jWorkflowExample.out
  spark-cypher-examples/src/test/resources/example_outputs/NorthwindJdbcExample.out
  spark-cypher-examples/src/test/resources/example_outputs/RecommendationExample.out
  spark-cypher-examples/src/test/resources/example_outputs/UpdateExample.out
  spark-cypher-examples/src/test/resources/example_outputs/ViewsExample.out
Labels: Documentation, Refactoring

#762 Remove unnecessary test abstraction
  spark-cypher-testing/src/test/scala/org/opencypher/spark/api/io/fs/FSGraphSourceTest.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/api/io/neo4j/Neo4jBulkCSVDataSinkTest.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/api/io/neo4j/Neo4jPropertyGraphDataSourceWriteTest.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/api/io/neo4j/sync/Neo4JGraphMergeTest.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/api/util/ZeppelinSupportTest.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/AggregationTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/BoundedVarExpandTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/CatalogDDLTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/DrivingTableTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/ExpandIntoTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/ExpressionTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/FunctionTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/GraphInit.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/MatchTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/MultipleGraphTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/OptionalMatchBehaviour.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/PredicateTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/QualifiedGraphNameAcceptance.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/ReturnTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/ScanGraphAcceptanceTest.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/UnionTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/UnwindTests.scala
  spark-cypher-testing/src/test/scala/org/opencypher/spark/impl/acceptance/WithTests.scala
Labels: Refactoring, Test

#779 Add documentation project with CAPS asciidoc sources
  build.licenses.gradle
  build.publishing.gradle
  documentation/asciidoc/architecture-and-usage.adoc
  documentation/asciidoc/backend-filesystem.adoc
  documentation/asciidoc/backend-in-memory.adoc
  documentation/asciidoc/backend-neo4j-graph-merge.adoc
  documentation/asciidoc/backend-neo4j.adoc
  documentation/asciidoc/backend-pgds-neo4j.adoc
  documentation/asciidoc/backend-sql-graphddl.adoc
  documentation/asciidoc/backend-sql.adoc
  documentation/asciidoc/backends.adoc
  documentation/asciidoc/caching-and-performance.adoc
  documentation/asciidoc/catalog.adoc
  documentation/asciidoc/cypher-cypher9-features.adoc
  documentation/asciidoc/cypher-graph-views.adoc
  documentation/asciidoc/cypher-multiple-graphs.adoc
  documentation/asciidoc/cypher.adoc
  documentation/asciidoc/examples/caps/case-class.adoc
  documentation/asciidoc/examples/caps/census-sql-hive.adoc
  documentation/asciidoc/examples/caps/census-sql-jdbc.adoc
  documentation/asciidoc/examples/caps/custom-dataframe-input.adoc
  documentation/asciidoc/examples/caps/cypher-sql-roundtrip.adoc
  documentation/asciidoc/examples/caps/dataframe-input.adoc
  documentation/asciidoc/examples/caps/dataframe-output.adoc
  documentation/asciidoc/examples/caps/datasource.adoc
  documentation/asciidoc/examples/caps/details.adoc
  documentation/asciidoc/examples/caps/graph-views.adoc
  documentation/asciidoc/examples/caps/graphx-pagerank.adoc
  documentation/asciidoc/examples/caps/multiple-graphs.adoc
  documentation/asciidoc/examples/caps/neo4j-graph-merge.adoc
  documentation/asciidoc/examples/caps/neo4j-workflow.adoc
  documentation/asciidoc/examples/caps/northwind-sql-jdbc.adoc
  documentation/asciidoc/examples/caps/recommendation.adoc
  documentation/asciidoc/examples/caps/update.adoc
  documentation/asciidoc/examples/index.adoc
  documentation/asciidoc/index.adoc
  documentation/asciidoc/introduction.adoc
  documentation/asciidoc/overview.adoc
  documentation/asciidoc/resources.adoc
  documentation/asciidoc/session-catalog.adoc
  documentation/asciidoc/session.adoc
  documentation/asciidoc/tables-to-graphs.adoc
  documentation/build.gradle
  settings.gradle
Labels: Build, Documentation
